@font-face {
  font-family: myFirstFont;
  src: url("./assets/Abalone Smile.ttf");
}

body {
  height: 100vh;
  font-family: myFirstFont;
  color: #4f271e;
  text-align: center;
  overflow: hidden;
  background-color: #fbe9bb;
}

.Home {
  width: auto;
  height: 100vh;
  z-index: -39;
}

.logoNavbarImg {
  width: 80px;
}

.navigationRow {
  margin: 2vh;
}
.navigation {
  background-color: #f8d451;
  border: 4px solid #653f2c;
  font-size: 2rem;
  vertical-align: middle;
  margin: auto;
  text-transform: uppercase;
}

.navigationLinksRow {
  margin: 0;
  padding: 0;
  padding-left: 6rem;
  padding-right: 6rem;
  margin: auto;
  height: 100%;
}

.navigationLinksColLeft, .navigationLinksColRight {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 6rem;
}

.navigationLinksColRight {
  justify-content: end;
}

a:link, a:visited, a:hover, a:active {
  color: #4f271e;
  text-decoration: none;
}

.popupButton:hover, .popupButtonClose:hover, .audioDiv:hover, .audioDivStop:hover {
  cursor: pointer;
}

.popupButtonClose {
  background-color: #e46459;
  border: 4px solid #653f2c;
  font-size: 2rem;
  vertical-align: middle;
  margin: auto;
  text-transform: uppercase;
  width: 12rem;
}

.logo {
  width: 60%;
}

.popup {
  position : fixed;
  background-color: #f8d451;
  border: 4px solid #653f2c;
  margin: auto;
  padding: 0;
  font-size: 5vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
  
  top : 25%;
  left : 25%;
  width: 50%;
  height: 50%;
}

.popupRow {
  width: 100%;
  margin: auto;
}

.selectedMenu {
  color: #e46459;
}

.audioDiv, .audioDivStop {
  background-image: url("./assets/Audio_Play.png");
  background-size: contain;
  background-repeat: no-repeat;
  position: fixed;
  
  width: 500px;
  height: 300px;

  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}

.audioDivStop {
  background-image: url("./assets/Audio_Stop.png");
}

@media only screen and (max-width: 1199.98px){
  
}
