@font-face {
  font-family: myFirstFont;
  src: url("./assets/Abalone Smile.ttf");
}

.displayDesktop {
  display: contents;
}
.displayDesktopBlock {
  display: block;
}
.displayMobile, .displayMobileBlock {
  display: none;
}

body {
  height: 100vh;
  font-family: myFirstFont;
  color: #4f271e;
  text-align: center;
  overflow: hidden;
  background-color: #fbe9bb;
}

.Home {
  width: auto;
  height: 100vh;
  z-index: -39;
}

.logoNavbarImg {
  width: 100px;
}

.navigationRow {
  margin: 2vh;
}
.navigation {
  background-color: #f8d451;
  border: 4px solid #653f2c;
  font-size: 2rem;
  vertical-align: middle;
  margin: auto;
  text-transform: uppercase;
}

.navigationLinksRow {
  margin: 0;
  padding: 0;
  padding-left: 6rem;
  padding-right: 6rem;
  margin: auto;
  height: 100%;
}

.navigationLinksColLeft, .navigationLinksColRight {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: left;
  align-items: center;
  gap: 6rem;
}

.navigationLinksColRight {
  justify-content: end;
}

a:link, a:visited, a:hover, a:active {
  color: #4f271e;
  text-decoration: none;
}

.selectedSubmenu {
  cursor: default;
}
.popupButton:hover, .popupButtonClose:hover, .audioDiv:hover, .subNavbarMenuNotSelected:hover,
.coinDiv:hover, .mintButton:hover, .wideButton:hover ,.wideButtonRed:hover, .navbarLinkElement:hover,
.scratchyCardScratchable:hover, .logo:hover {
  cursor: pointer;
}

.popupButtonClose, .mintButton, .wideButton, .wideButtonRed {
  background-color: #e46459;
  border: 4px solid #653f2c;
  font-size: 2rem;
  vertical-align: middle;
  margin: auto;
  text-transform: uppercase;
  width: 12rem;
}

.mintButton {
  background-color: #f8d451;
  width: 15rem;
  font-size: 1.6rem;
  line-height: 3.2rem;
  /* height: 3rem; */
}

.cardsPerWallet {
  margin: 0;
  padding: 0;
  margin-top: 1rem;
}

.wideButton, .wideButtonRed {
  width: 100%;
  margin: .5rem;
}
.wideButton {
  background-color: #f8d451;
}

.logo {
  width: 60%;
}

.popup, .popupBig, .popupBigSmallText {
  position : fixed;
  background-color: #f8d451;
  border: 4px solid #653f2c;
  margin: auto;
  padding: 0;
  font-size: 5vh;
  padding-top: 10vh;
  padding-bottom: 10vh;
  
  top : 25%;
  left : 25%;
  width: 50%;
  height: 50%;

  z-index: 200;
}

.popupRow {
  width: 100%;
  margin: auto;
}
.popupBig, .popupBigSmallText {
  top : 5%;
  left : 5%;
  width: 90%;
  height: 50%;

  z-index: 100;
}

.popupBig {
  padding: 4vh;
  height: 70%;
}

.popupBigSmallText {
  font-size: 1rem;
  height: 65%;
  text-align: left;
  padding: 2vh;
  padding-top: 3vh;
}

.selectedMenu {
  color: #e46459;
}

.audioDiv {
  background-image: url("./assets/degen.gif");
  background-size: contain;
  background-size: 50%, 50%;
  background-position: center;
  background-repeat: no-repeat;
  position: fixed;
  
  width: 65vh;
  height: 65vh;

  left: 50%;
  top: 55%;
  transform: translate(-50%, -50%);
  
  display: flex;
  align-items: baseline;
  justify-content: end;
}

.audioButtonPlay, .audioButtonStop {
  background-image: url("./assets/AudioPlay.svg");
  width: 20vh;
  height: 20vh;
  background-size: contain;
  background-repeat: no-repeat;
}
.audioButtonStop {
  background-image: url("./assets/AudioStop.svg");
}



.subNavbarMenuRow {
  /* width: 100%;
  margin: auto; */
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10vh;
}
.subNavbarMenu, .subCoinMenu, .mobileCardInfoButton {
  background-color: #f8d451;
  border: 4px solid #653f2c;
  /* margin: auto; */
  width: 33rem;
  padding: .5rem;
  padding-left: 2rem;
  padding-right: 2rem;
  
  vertical-align: middle;
  font-size: 2rem;
  text-transform: uppercase;
}

.mobileCardInfoButton {
  height: auto;
  margin: 2vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
  padding: 1vh;
  font-size: 1.5rem;
  width: 30vh;
}

.selectedSubmenu, .subCoinMenu {
  background-color: #e46459;
}

.subCoinMenu {
  width: 3rem;
  margin: 2vh;
  margin-right: 20vh;
}

.scratchCardContainer {
  /* display: flex;
  justify-content: center;
  align-items: center; */
}

.scratchyCard {
  background-image: url("./assets/Card_Placement.svg");
  background-size: contain;
  background-repeat: no-repeat;
  /* 1.61 ratio */
  width: 100vh;
  height: 60vh;
  margin: auto;
  margin-top: 4vh;

  text-transform: uppercase;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2rem;
}

.scratchyCardEmpty {
  background-image: url("./assets/Card_Placement.svg");
}

.scratchyCardQuestion {
  background-image: url("./assets/Card_Placement.svg");
  font-size: 14rem;
}

.scratchyCardGenesis {
  background-image: url("./assets/Card_Genesis.png");
}

.scratchyCardGenesisBefore {
  background-image: url("./assets/Genesis/Before_Desktop.png");
}

.scratchyCardGenesisDuring {
  background-image: url("./assets/Genesis/Scratch.gif");
}

.scratchyCardGenesisAfter {
  background-image: url("./assets/Genesis/After.png");
}

.scratchyCard1 {
  background-image: url("./assets/Card_1.png");
}

.scratchyCard2 {
  background-image: url("./assets/Card_2.png");
}

.coinDiv {
  position: absolute;
  right: 0%;

  display: flex;
  justify-content: end;
  align-items: center;
}


.subNavbarRow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30vh;
}

.leftArrow, .rightArrow {
  /* background-color: rgb(.5,.5,.5,.5); */
  background-image: url("./assets/Arrow_Page.svg");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center; 
  overflow: hidden;
  position: absolute;
  left: 1%;
  width: 6%;
  height: 10%;
  bottom: 35%;
  transform: rotate(180deg);
}
.rightArrow {
  transform: rotate(0deg);
  left: 90%;
}
.leftArrow:hover, .rightArrow:hover {
  cursor: pointer;
}

.mintDescription {
  text-align: left;
  font-size: 1.5rem;
  padding: 4vh;
  /* padding-left: 0; */
}

.mintDescriptionMintActivated {
  text-align: center;
  font-size: 1.5rem;
  padding: 0;
  /* padding-right: 40vh; */
  margin-top: 8vh;
  grid-gap: 2rem;
  /* width: 100%; */
}

.flexAlignLeft {
  display: flex;
  justify-content: start;
  align-items: start;
  margin-left: 4vh;
}

.quantitySelectorRow {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
  font-size: 3rem;
}

.minusPlusImage {
  width: 2rem;
}

.minusPlusImage:hover {
  cursor: pointer;
}






@media only screen and (max-width: 1199.98px){
  .displayDesktop, .displayDesktopBlock {
    display: none;
  }
  .displayMobile {
    display: contents;
  }
  .displayMobileBlock {
    display: block;
  }

  .audioDiv {
    width: 45vh;
    height: 45vh;
  }
  .audioButtonPlay, .audioButtonStop {
    width: 15vh;
    height: 15vh;
  }

  .quitMenuDiv {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background-color: black; */
  }

  .coinDiv {
    position: relative;
  }
  .mintDescriptionMintActivated {
    padding: 0;
    padding-left: 4vh;
    /* padding-right: 4vh; */
    margin-top: 0;
    grid-gap: 0rem;
    font-size: 1.3rem;
  }

  .quantitySelectorRow {
    font-size: 2rem;
    margin-bottom: 0.5rem;
  }
  
  .navbarMobileDiv {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    width: 100%;
    margin: 0;
    padding: 1vh;
    z-index: 50;
  }
  .menuMobileCol {
    display: flex;
    align-items: end;
    justify-content: end;
    margin: 0;
    padding: 0;
    z-index: 50;
  }
  .homeMobileCol {
    display: flex;
    align-items: start;
    justify-content: start;
    margin: 0;
    padding: 0;
    z-index: 50;
  }

  .menuMobileImage {
    width: 30%;
  }
  .homeMobileImage {
    width: 40%;
    z-index: 50;
  }

  .popup {
    top : 25%;
    left : 5%;
    width: 90%;
    height: 50%;
  }

  .scratchyCard, .scratchyCardEmpty, .scratchyCardGenesis, .scratchyCard1, .scratchyCard2 {
    width: 90%;
    height: 32vh;
  }

  .scratchyCardGenesisBefore {
    background-image: url("./assets/Genesis/Before_Mobile.png");
  }

  .scratchyCardQuestion {
    font-size: 7rem;
  }

  .subNavbarMenu {
    height: auto;
    margin: 2vh;
    margin-top: 1vh;
    margin-bottom: 1vh;
    padding: 1vh;
    font-size: 1.5rem;
    width: calc(100% - 4vh);
  }

  .mobileMintBottomMenu {
    padding: 0;
    margin-top: 2vh;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1;
  }

  .arrowDiv {
    width: 8vh;
    height: 8vh;
    /* margin-left: 1vh;
    margin-right: 1vh; */
  }
  .leftArrow, .rightArrow {
    /* position: relative;
    width: 100%;
    height: 100%; */
    bottom: 30%;
  }
  .leftArrowMobile, .rightArrowMobile {
    background-image: url("./assets/Arrow_Page.svg");
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-position: center center; 
    transform: rotate(180deg);
  }
  .rightArrowMobile {
    transform: rotate(0deg);
  }
  
  .subNavbarMenuRow {
    display: block;
  }
  .subNavbarRow {
    display: block;
  }

  .cardsPerWallet {
    margin: 0;
  }

  .flexAlignLeft {
    display: block;
    margin: 0;
  }
  .popupButtonClose {
    font-size: 1.8rem;
    vertical-align: middle;
    width: 12rem;
    text-align: center;
  }
}
